################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HungryPizza/.vs/HungryPizza
/HungryPizza/HungryPizza.API/obj
/HungryPizza/HungryPizza.Application/obj
/HungryPizza/HungryPizza.Application.DTO/obj/Debug/netcoreapp3.1
/HungryPizza/HungryPizza.Domain/obj
/HungryPizza/HungryPizza.Domain.Core/obj
/HungryPizza/HungryPizza.Domain.Services/obj
/HungryPizza/HungryPizza.Infra.CrossCutting/obj
/HungryPizza/HungryPizza.Infra.CrossCutting.IOC/obj
/HungryPizza/HungryPizza.Infra.Data/obj/Debug/netcoreapp3.1
/HungryPizza/HungryPizza.Infra.Repository/obj
/HungryPizza/HungryPizza.API/bin/Debug/netcoreapp3.1
/HungryPizza/HungryPizza.Domain/bin/Debug/netcoreapp3.1
/HungryPizza/HungryPizza.Domain.Core/bin/Debug/netcoreapp3.1
/HungryPizza/HungryPizza.Domain.Services/bin/Debug/netcoreapp3.1
/HungryPizza/HungryPizza.Infra.Data/bin/Debug/netcoreapp3.1
/HungryPizza/HungryPizza.Infra.Data/obj
/HungryPizza/HungryPizza.Infra.CrossCutting.IOC/bin/Debug/netcoreapp3.1
/HungryPizza/HungryPizza.Infra.CrossCutting/bin/Debug/netcoreapp3.1
